*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    display: grid;
    gap: 5px;
    grid-template: 
        "header" 3em
        "main"   1fr
        "aside"  1fr
        "footer" 3em;

}
.header{
    grid-area: header;
    background-color: rgb(0, 191, 255);

}
.header img{
    margin: 5px 0;
}

.header p{
   position: relative;
   left: 50%;
   right: 50%;
   bottom: 55%;
   
    
}
.texto{
    grid-area: main;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: lightblue;

}
.texto textarea{
    border: black 2px dotted;
}
.texto textarea::placeholder{
    font-size: 2em;
    font-weight: bold;
    opacity: 0.5;
    color: rgba(255, 0, 0, 0.651);
}
.texto button{
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    height: 100px;
    width: 200px;
    cursor:pointer;
}
.resultado{
    grid-area: aside;
    background-color: rgba(128, 128, 128, 0.233);
}
.footer{
    grid-area: footer;
    background-color:darkblue;
}
@media(min-width: 600px){
    body{
        grid-template: 
        "header header" 3em 
        "main aside"    1fr
        "footer footer"  3em
        ;
        gap: 5px
        ;
    }
}