*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    background: #f3f5fc;
    height: 100vh;
    display: grid;
    grid-template:
        "header header  aside"    3em
        "main    main   aside"    1fr
        "footer  footer footer"   3em;

}
.header{
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.header img{
    margin: 5px 0;

}
.header h1{
    color: #0a3871;
}


.texto{
    grid-area: main;
    width: 75vw;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    margin-top: 5%;
    
    

}
.texto textarea{
    border-radius: 2%;
    border: none;
    width: 70vw;
    height: 60vh;
    font-size: 24px;
    font-weight: bold;
    margin-left: 5%;
    
}

.texto textarea::placeholder{
    font-size: 1em;
    font-weight: bold;
    opacity: 0.5;
    color:#0a3871;
}
.texto textarea:focus,
.texto textarea:active{
    border: none;
    outline: none;
}
.texto p{
    margin-left: 5%;
    margin-top: 1%;
    color: #495057;
}
.boton-texto{
    display: flex;
    flex-direction: row;
    margin: 0 5%;

}
.boton:first-child{
    background-color: #0a3871;
    color: #fff;
}
/* ASIDE */
.resultado{
    display: grid;
    grid-area: aside;
    width: 20vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0,0, 0.08);
    align-items: end;
    position: relative;

}
.texto-resultado{
 display: grid;
 justify-items: center;

 

}
.resultado img{
    width: 90%;
}

.texto-resuelto{
    font-size: 24px;
    font-family:monospace;
    font-weight: 400;
    color: #0381ff;
    line-height: 36px;
    position: absolute;
    top: 30%;

}
.resultado h2{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    align-items: end;
}
.resultado p {
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.resultado .boton{
    display: none;
}

.boton{
    font-size: x-large;
    font-weight: bold;
    height: 100px;
    width: 80%;
    cursor:pointer;
    border-radius: 24px;
    border: 1px solid #0a3871;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    line-height: 19px;
    background: #d8dfe8;
    color: #0a3871;
    margin: 20px;
    transition: 0.5s;

}
.boton:hover{
   transform: scale(1.1);
}
.footer{
    grid-area: footer;
    background-color:darkblue;
    display: grid;
    align-items: center;
    justify-content: center;
}
@media (max-width: 995px) {
    body{
        font-size: 1rem;
        font-weight: 300;
    }
    .texto p{
        margin-top: -1%;
    }
}
@media(max-width:829px){
    body{
        font-size: 0.9rem;

    }
    
}
@media (max-width:768px){
    body{
        grid-template:
        "header  aside"    3em
        "main    aside"    1fr
        "footer  footer"   3em;
    }
    .header {
        grid-template-columns: 1fr 1fr;
    }
    .texto{
        width: 50vw;
    }
    .texto textarea{
        width: 60vw;
    }
    .resultado{
        width: 30vw;
    }
}
@media (max-width:600px){
    body{
        position: relative;
        grid-template: 
            "header"3rem
            "main" 1fr
            "aside" 1fr 
            "footer"3rem;
    }
    .header{
       width: 100%;
       margin: 2%;
       
    }
    .header img{
       position: absolute;
       height: 5%;
       left: 2%;
       top: 5px;
    
    }
    .header h1{
        position: absolute;
        left: 30%;
        top: 10px;
       
    }
    .texto{
        width: 100vw;
    }
    .texto textarea{
        width: 90vw;
    }
    .texto p{
        margin-top: 5px;
    }
    .resultado{
        width: 100vw;
       
    }
}